.about-blog{
    margin: 1.1rem auto .3rem;
    width: 9rem;
    box-shadow:0 .02rem .02rem #eee
}
.about-blog .header{
    width: 100%;
    height: 3rem;
}
.about-blog .header img{
    width: 100%;
    height: 100%;
}
.about-blog .about-content{
    padding: .2rem .15rem 1rem;
    font-size: .14rem;
    background: #fff url('../images/about.jpg') no-repeat right bottom;
}
.about-blog .about-content .about-contentTxt h1{
  margin: .2rem 0;
  padding-left: .1rem;
  line-height: .4rem;
  font-size: .22rem;
  font-weight: bold;
  border-bottom: 2px solid rgb(204, 204, 204);
  text-align: left;
}
.about-blog .about-content .about-contentTxt h2 {
  margin: .1rem 0;
  padding-left: .1rem;
  line-height: .35rem;
  font-size: .18rem;
  font-weight: bold;
  text-align: left;
}
.about-blog .about-content .about-contentTxt p{
  line-height: .25rem;
}
